body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-image: url(../Bootstrap-Exercises/image/image3.jpg);
    background-size: cover;
    background-position: center;

}
.form-group{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0, 0);
    background: #fff;
    padding: 20px;
    margin: 7% auto 0;
    text-align: center;
}
h1{
    color:rgb(0, 162, 255); 
    margin-bottom: 40px;
}
h4{
    text-align: center;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin:10px;
    width: 100%;
    border: 1px solid rgb(30, 210, 210); 
    outline: none; 
}
button{
    color:#000;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn{
    background-color: rgb(179, 255, 0);
}
.twitter-btn{
    background-color: rgb(95, 123, 160);
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80px;
}
.or{
    background:#fff;
    width:30px;
    margin: -19px auto 10px;
}
img{
    width: 70px;
    margin-top: -50px;
}