body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: white;
}
.container{
    font-family: sans-serif;
    font-weight: 300px;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;    
}
.row{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
}
