body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color:white;
}

.container{
    font-family: sans-serif;
    font-weight: 800px;
    text-transform: lowercase;
    font-size: 16px;
    text-align: left;    
}
header h1#logo {
    background-color: rgb(0, 81, 255);
    display: block;
    float: none;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    text-align: none; 
}
  header nav {
    background-color:rgb(63, 200, 205);
    display: block;
    float: none;
    height: 50px;
    text-align: none;
    margin: 0 auto; 
}
    header nav a {
      line-height: 50px;
      margin: 0 10px;
      font-size: 20px; 
      color: white;
    }
    #my-main{
        background-color: rgb(0, 81, 255);
        margin: 0 10px;
    }